{{#each this}}
<div class="container-list">
  <ul class="countries-list">
    {{!-- {{#each this}} --}}
    <li class="countries-name">{{this.name}}</li>
    {{!-- {{/each}} --}}
  </ul>
</div>
{{/each}}